body {
    font-family: Arial, sans-serif;
    padding: 5px;
    background-color: rgb(236, 236, 236);
}

h3 {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.field-container {
    display: block;
    align-items: center;
    padding: 20px 5px;
    width: 100%;
    background-color: white;
    margin-top: 5px;
    box-shadow: rgba(141, 141, 141, 0.25) 0 54px 55px,
    rgba(146, 146, 146, 0.12) 0 -12px 30px,
    rgba(136, 136, 136, 0.12) 0 4px 6px,
    rgba(141, 141, 141, 0.17) 0 12px 13px,
    rgba(138, 138, 138, 0.09) 0 -3px 5px;
    border: 1px solid rgb(0, 0, 0);
    z-index: 200;
    position: relative;
}

.field-container input {
    flex: 1;
    margin-right: 5px;
}

.field-container button {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;;
}

.config-creator-target {
    transition-duration: 0.25s;
    transition-property: box-shadow, padding;
    padding: 10px;
    box-shadow: rgba(110, 0, 149, 0.25) 0 54px 55px,
    rgba(110, 0, 149, 0.12) 0 -12px 30px,
    rgba(110, 0, 149, 0.12) 0 4px 6px,
    rgba(110, 0, 149, 0.17) 0 12px 13px,
    rgba(110, 0, 149, 0.09) 0 -3px 5px;
    border: 3px solid purple;
    z-index: 200;
    position: relative;
}

.data-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}

.data-section-label {
    font-size: 14px;
    padding: 5px;
}

.config-creator-validation-highlight {
    outline: 3px solid red !important;
    position: relative;
}

.config-creator-validation-label {
    position: absolute;
    background: yellow;
    color: black;
    font-size: 12px;
    padding: 2px 5px;
    border: 1px solid black;
    z-index: 1000;
    white-space: nowrap;
    transform: translate(-100%, -100%);
}

.save-menu-container {
    display: block;
    text-align: center;
    align-items: center;
    padding: 20px 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 3px;
    box-shadow: rgba(141, 141, 141, 0.25) 0 54px 55px,
    rgba(146, 146, 146, 0.12) 0 -12px 30px,
    rgba(136, 136, 136, 0.12) 0 4px 6px,
    rgba(141, 141, 141, 0.17) 0 12px 13px,
    rgba(138, 138, 138, 0.09) 0 -3px 5px;
    border: 1px solid rgb(0, 0, 0);
    z-index: 200;
    position: relative;
}